<div class="sidebar">
  <div class="item">
    <a href="#">
      Home
    </a>
  </div>
  <div class="item">
    <a href="#">
      Service
    </a>
  </div>
  <div class="item">
    <a href="#">
      News
    </a>
  </div>
  <div class="item">
    <a href="#">
      Blog
    </a>
  </div>
  <div class="item">
    <a href="#">
      Contact
    </a>
  </div>
</div>
<div class="content">
  <!-- ?Logo -->
  <div class="logo">
    <img src="assets/img/logo.png" alt="">
  </div>

  <div class="content-article">
    <h3>
      Lorem ipsum dolor sit asmet?
    </h3>
    <div >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rerum modi eum, eos, reiciendis cupiditate quaerat sit consequatur doloremque deserunt provident maxime quasi, ducimus tempore debitis suscipit aspernatur quod vero?
    </div>
  </div>
</div>
